<div id='course-page'>
    <nav>
        <a href="/#/"><img id='zampler-logo' src='/client/images/full-logo.png'></a>
        <button id='add-a-zample' ng-click="showCreateZamplePopup()" ng-cloak ng-show="user">add a zample</button>
        <button id='add-a-zample' ng-click="showLogInPopup()" ng-hide="user">add a zample</button>
        <div class="account-buttons" ng-hide="user">
            <h3 ng-click="showCreateAccountPopup()">create account</h3>
            <h3 ng-click="showLogInPopup()">log in</h3>
        </div>
        <div class="account-buttons" ng-cloak ng-show="user">
            <h3>hello, {{user.username}}</h3>
            <h3 ng-click="logOut()">log out</h3>
        </div>
    </nav>
    <h1 class='header-text'> {{ current_course.name }} </h1>
    <input type='text' id='search-zamples' placeholder='Filter courses...' ng-model="search.$">
    <table class='table table-hover zample-table'>
        <thead>
            <tr>
                <th class='col-md-6'>Zample</th>
                <th class='col-md-3'>Professor</th>
                <th class='col-md-2'>Date Completed</th>
                <th class='col-md-1'>Likes</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="zample in zamples | filter:search | orderBy: 'title'" ng-click="openThisZample(zample.id)">
                <td class='col-md-6'> {{ zample.title }} </td>
                <td class='col-md-3'> {{ zample.professor }} </td>
                <td class='col-md-2'> {{ zample.date_completed }} </td>
                <td class='col-md-1'> {{ zample.likes }} </td>
            </tr>
        </tbody>
    </table>
</div>