<div id='school-page'>
    <nav>
        <a href="/#/"><img id='zampler-logo' src='/client/images/full-logo.png'></a>
        <button id='add-a-zample' ng-click="showCreateZamplePopup()" ng-cloak ng-show="user">add a zample</button>
        <button id='add-a-zample' ng-click="showLogInPopup()" ng-hide="user">add a zample</button>
        <div class="account-buttons" ng-hide="user">
            <h3 ng-click="showCreateAccountPopup()">create account</h3>
            <h3 ng-click="showLogInPopup()">log in</h3>
        </div>
        <div class="account-buttons" ng-cloak ng-show="user">
            <h3>hello, {{user.username}}</h3>
            <h3 ng-click="logOut()">log out</h3>
        </div>
    </nav>
    <h1 class='header-text'> {{ current_school.name }} </h1>
    <input type='text' id='search-courses' placeholder='Filter courses...' ng-model="search.$">
    <table class='table table-hover course-table'>
        <thead>
            <tr>
                <th class='col-md-6'>Course Name</th>
                <th class='col-md-1'>Zamples</th>
                <th class='col-md-4'>Coursework Curved?</th>
                <th class='col-md-1'>Difficulty</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="course in courses | filter:search | orderBy: 'name'" ng-click="openZamplesForThisCourse(course.id)">
                <td class='col-md-6'> {{ course.name }} </td>
                <td class='col-md-1'> {{ course.zample_count }} </td>
                <td class='col-md-4'> {{ course.curve }} </td>
                <td class='col-md-1'> <img ng-src="/client/images/{{ course.difficulty }}"> </td>
            </tr>
        </tbody>
    </table>
</div>