<div id='zample-page'>
    <nav>
        <a href="/#/"><img id='zampler-logo' src='/client/images/full-logo.png'></a>
        <button id='add-a-zample' ng-click="showCreateZamplePopup()" ng-cloak ng-show="user">add a zample</button>
        <button id='add-a-zample' ng-click="showLogInPopup()" ng-hide="user">add a zample</button>
        <div class="account-buttons" ng-hide="user">
            <h3 ng-click="showCreateAccountPopup()">create account</h3>
            <h3 ng-click="showLogInPopup()">log in</h3>
        </div>
        <div class="account-buttons" ng-cloak ng-show="user">
            <h3>hello, {{user.username}}</h3>
            <h3 ng-click="logOut()">log out</h3>
        </div>
    </nav>
    <h1 class='header-text'> {{ zample.title }} </h1>
    <ul>
        <li ng-repeat="link in zample_file_links" ng-click="setSelectedFile(link)">File {{$index + 1}}</li>
    </ul>
    <div id="selected-zample-file-container">
        <iframe ng-src="{{selected_zample_file_link}}" srolling="yes"></iframe>
    </div>
    <h1 id="scroll-warning">Tip: hold shift while scrolling to scroll horizontally</h1>
    <h1 id="likes">
        <span class="glyphicon glyphicon-thumbs-up clickable" ng-click="showLogInPopup()" ng-show="!user"></span> 
        <span class="glyphicon glyphicon-thumbs-up clickable" ng-click="likeThisZample()" ng-show="!user_liked_this_zample && user"></span> 
        <span class="glyphicon glyphicon-thumbs-up non-clickable" ng-show="user_liked_this_zample"></span> 
        {{zample.likes}}
    </h1>
    <button class="report-this-zample" ng-show="!user_owns_this_zample && !user" ng-click="showLogInPopup()" >report this zample</button>
    <button class="report-this-zample" ng-show="!user_owns_this_zample && !user_reported_this_zample && user" ng-click="reportThisZample()">report this zample</button>
    <h2 class="zample-reported" ng-show="!user_owns_this_zample && user_reported_this_zample">reported, we're looking into it.</h2>
    <button id="remove-this-zample" ng-show="user_owns_this_zample" ng-cloak ng-click="showRemoveZamplePopup()">delete this zample</button>
</div>

<div id="confirm-remove-zample-popup" ng-show="remove_zample_popup">
    <h2>Are you sure you want to delete this? It might help somebody.</h2>
    <button id="no-remove" ng-click="hideRemoveZamplePopup()">no</button>
    <button id="yes-remove" ng-click="deleteThisZample()">yes</button>
</div>